
.navbar{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
a.active{
  color: black
}
.container--main{
  position: absolute;
  width: 100vh;
  height: 100vh;
  left: 0;
  top: 0;
}
.container--menu{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 200px;
  z-index: 4;
}
.home{
  background-color: red;
  width:100%;
  width: 100vw;
  height: 100vh;
  transform-origin: "center", "center";
}
.about{
  background-color: yellow;
  width:100%;
  width: 100vw;
    height: 100vh;
  transform-origin: "center", "center";
}
.contact{
  background-color: green;
  width:100%;
  width: 100vw;
    height: 100vh;
  transform-origin: "center", "center";
}
